%h2 New Node
= form_for @node do |f|
  =f.label :name
  =f.text_field :name
  =f.label :text
  =f.text_field :text
  =f.label :img_url
  =f.text_field :img_url
  =f.label :parent_id
  =f.text_field :parent_id
  =f.submit

%h2 Nodes
%ul
- @nodes.each do |node|
  %li.no--list
    %h3= node.name
    = node.text
    = node.img_url
    - if node.children.any?
      %ul
        - node.children.each do |child|
          %li= child.name
    %hr
