%h2 New Node
= form_for @node do |f|
  =f.label :name
  =f.text_field :name
  =f.label :text
  =f.text_field :text
  =f.label :img_url
  =f.text_field :img_url
  =f.select :parent_id do
    - @nodes.each do |node|
      = content_tag(:option, node.name, value: node.id)
  =f.submit

%h2 Nodes
%ul
- @nodes.each do |node|
  %li.no--list
    %h3= link_to node.name, edit_node_path(node.id)
    = node.text
    = node.img_url
    - if node.children.any?
      %ul
        - node.children.each do |child|
          %li= link_to child.name, edit_node_path(child.id)
    %hr
